extends layout

block navBar
    include includes/_navbar

block content
    .page-header
        h1 #{page.title}&nbsp;
            small Order gifts from your favorite places

    form.form-horizontal(action='/orderpage', method='post', accept-charset='utf-8')
        input(type='hidden', name='_csrf', value=req.session._csrf)

        section
            h2 1. Who gets it?
            .well
                .control-group
                    label.control-label(for='recipient[name]') Full Name
                    .controls
                        input.input-xlarge(id='recipient[name]'
                            , name='recipient[name]'
                            , type='text'
                            , required)
                        - var emailRegex = '[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?'

                .control-group
                    label.control-label(for='recipient[email]') Email
                    .controls
                        input.input-xlarge(id='recipient[email]'
                            , name='recipient[email]'
                            , type='email'
                            , pattern=emailRegex
                            , required)

        section
            h2 2. Gift Details
            .well
                .control-group.giftAmountGroup
                    label.control-label(for='gift[amount]') Gift Amount
                    .controls
                        .input-prepend.input-append
                            span.add-on $
                            input.input-mini.giftamount(style='text-align: right',id='gift[amount]',name='gift[amount]',type='text', required,pattern="[0-9]+")
                            span.add-on .00

                .control-group
                    .controls
                        div.btn-group.cardvalue(data-toggle='buttons-radio')
                            a.btn.cardvalue-0 None
                            a.btn.cardvalue-25 $25
                            a.btn.cardvalue-35 $35
                            a.btn.cardvalue-50 $50
                            a.btn.cardvalue-75 $75
                            a.btn.cardvalue-100 $100
                            a.btn.cardvalue-200 $200
                            a.btn.cardvalue-500 $500
                            a.btn.cardvalue-other Other

                .control-group
                    label.control-label(for='gift[suggestion]') Suggested Experience
                    .controls
                        .suggestion
                            a.listinglink(href='/order-gift-from/' + suggested.id)
                                img.listing.thumbnail(src=suggested.image_url, alt='')
                            strong= suggested.name
                            dl.address
                                if suggested.location.display_address
                                    each line in suggested.location.display_address
                                        dd.line
                                            small= line
                            .rating
                                img(src=suggested.rating_img_url_small)


        section
            h2 3. Personalize
            .well
                .control-group
                    label.control-label(for='gift[amount]') Theme
                    .controls
                        ul.thumbnails.theme
                            - var thumbs = ['Modern','Classic','Spring','Birthday'];
                            each thumb in thumbs
                                li
                                    a.thumbnail(href='javascript:void(0)',style='cursor: pointer;')
                                        img(src='http://placehold.it/160x120', alt='')
                                        .caption
                                            label.radio(for='gift[theme]-'+thumb)
                                                strong #{thumb}
                                                input(type='radio',name='gift[theme]',id='gift[theme]-'+thumb)

                .control-group
                    label.control-label(for='gift[amount]') Personal Message
                    .controls
                        textarea(id='gift[message]',name='gift[message]',rows='7',style='display:block; margin: 0; padding:0; width: 100%')
                .control-group
                    label.control-label(for='gift[amount]') Upload a Video
                    .controls
                        input(type='file')

                .preview
                    h2 Gift Card Preview
                    ul.thumbnails
                        li
                            .thumbnail
                                img(src='http://placehold.it/900x600', alt='')

        .form-actions.well
            input.btn-next.btn.btn-large.btn-primary.pull-right(type='submit',value='Next')

block javascriptFooter
    script(type='text/javascript')
        $('.theme li a.thumbnail').click(function(){
            $(this).find('input[type="radio"]').attr('checked',true);
        });

        $('.cardvalue a').click(function(){
            var value = $.trim($(this).text()).replace('$','');
            if(value == 'Other')
            {
                $('.giftAmountGroup').show();
                $('.giftamount').val('');
                $('.giftamount').focus();
            }
            else if(value == 'None')
            {
                $('.giftAmountGroup').hide();
            }
            else
            {
                $('.giftAmountGroup').show();
                $('.giftamount').val(value);
            }
        });


    script(type='text/javascript')
        $('li.#{page.className}').addClass('active');