mixin listing(business, promo)
    .span4.well.listing
        - if(promo)
            h3= promo.name

        a.listinglink(href='/order-gift-from/' + business.id)
            img.listing.thumbnail(src=business.image_url, alt='')
        address
            strong= business.name
            if business.location.display_address
                each line in business.location.display_address
                    br
                    | #{line}

        if business.snippet_text
            p "#{business.snippet_text}"

        span.review_count
            a(href=business.url) #{business.review_count} reviews
        .rating
            img(src=business.rating_img_url_small)